<p>factura works!</p>

<form>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Regimen Fiscal</label>
        <div class="col-sm-6">
            <select class="form-select">
                <option *ngFor="let regimenFiscal of regimenFiscals" [value]="regimenFiscal.idRegimenFiscal">{{regimenFiscal.regimenFiscal}}</option>
            </select>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Regimen Fiscal</label>
        <div class="col-sm-6">
            <select class="form-select">
                <option *ngFor="let productoServicio of productoServicios" [value]="productoServicio.idProductoServicio">{{productoServicio.productoServicio}}</option>
            </select>
        </div>
    </div>
</form>

<hr />

<form>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">ID Factura</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="idFactura" [(ngModel)]="factura.idFactura" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Folio Fiscal</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="folioFiscal" [(ngModel)]="factura.folioFiscal" />
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-6 offset-2">
            <button type="button" class="btn btn-primary" (click)="guardarFactura()">Guardar</button>
        </div>
    </div>
    
</form>